<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>Hello everyone! </div>


<p> Congratulations!!! </p>
<p> your GOOGLE authorization completed. </p>
<a href="/main">please continue</a>

</body>
</html>